{
  "semi": true,
  "singleQuote": false,
  "printWidth": 70,
  "useTabs": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.{json,babelrc,eslintrc,remarkrc,prettierrc}",
      "options": {
        "useTabs": false
      }
    }
  ]
}